
body {
    font-family: Arial, sans-serif;
    background-color:hsl(312, 20%, 35%);
    line-height: 1.6;
}

header{
    background-color: #7d4a73;
    color: white;
    text-align: center;
    padding: 5px;  
}

section {
    padding: 5px;
    margin: 5px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1{
    text-shadow: 0 0 3px #4d0443, 0 0 5px #d406a4;
    text-underline-offset: 10px; 
    text-decoration-line:  underline;
    text-decoration-color: rgb(81, 1, 41);  
    text-decoration-style: wavy;
}

h2{
    text-decoration-line: underline;
    text-underline-offset: 10px; 
    text-decoration-color: rgb(81, 1, 41);  
    text-decoration-style: wavy;
}
.p {
    font-family: monospace;
    font-weight: bold;

  }

nav ul {
    list-style: none;
    padding: 3xp;
    text-underline-offset: 10px; 
}

nav ul li {
    display: inline;
    margin: 0 10px;
    
}

nav ul li a {
    color: rgb(246, 240, 243);
    text-decoration: none;
    font-weight: bold;
    text-underline-offset: 10px; 
}

nav ul li a:hover {
    text-decoration: underline;
    text-underline-offset: 10px; 
}

#rcorners3 {
    border-radius: 15px 45px;
    background: #12140e;
    padding: 15px;
    width: 70px;
    height: 50px;
  }
  footer {
    background-color:#7d4a73 ;
    color: white;
    text-align: left;
    padding: 9px;
    position: fixed;
    bottom: 0;
    width: 100%;
}
body {
    /* Center the form on the page */
    text-align: center;
  }
  
  form {
    display: inline-block;
    /* Form outline */
    padding: 1em;
    border: 1px solid #ccc;
    border-radius: 1em;
  }
  
  p + p {
    margin-top: 1em;
  }
  
  label {
    /* Uniform size & alignment */
    display: inline-block;
    min-width: 90px;
    text-align: right;
  }
  
  input,
  textarea {
    /* To make sure that all text fields have the same font settings
       By default, text areas have a monospace font */
    font: 1em sans-serif;
    /* Uniform text field size */
    width: 300px;
    box-sizing: border-box;
    /* Match form field borders */
    border: 1px solid #999;
  }
  
  input:focus,
  textarea:focus {
    /* Set the outline width and style */
    outline-style: solid;
    /* To give a little highlight on active elements */
    outline-color: #000;
  }
  
  textarea {
    /* Align multiline text fields with their labels */
    vertical-align: top;
    /* Provide space to type some text */
    height: 5em;
  }
  
  .button {
    /* Align buttons with the text fields */
    padding-left: 90px; /* same size as the label elements */
  }
  
  button {
    /* This extra margin represent roughly the same space as the space
       between the labels and their text fields */
    margin-left: 0.5em;
  }
  





/* Media Queries for Mobile Devices */
@media only screen and (max-width: 600px) {
    header, footer {
        padding: 10px;
    }
