body {
    font-family: Arial, sans-serif;
    background-color:hsl(344, 28%, 62%);
    line-height: 1.6;
    
}
header{
    background-image:url("image.jpg");
    color: white;
    text-align: center;
    padding: 2px;  
    height: 100%;
  background-position: center;
  position: relative;
}

section {
    padding: 5px;
    margin: 5px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1{
    text-shadow: 0 0 3px #785f71, 0 0 5px #664959;
     
    
}

h2{
    
    text-decoration-color: rgb(81, 1, 41);  
    
}
.p {
    font-family: monospace;
    font-weight: bold;

  }

nav ul {
    list-style: none;
    padding: 3xp;
    text-underline-offset: 10px; 
}

nav ul li {
    display: inline;
    margin: 0 10px;
    
}

nav ul li a {
    color: rgb(246, 240, 243);
    text-decoration: none;
    font-weight: bold;
    text-underline-offset: 10px; 
}

nav ul li a:hover {
    text-decoration: underline;
    text-underline-offset: 10px; 
}

#rcorners3 {
    border-radius: 15px 45px;
    background: #12140e;
    padding: 15px;
    width: 70px;
    height: 50px;
  }
  footer {
    background-image: url("image.jpg");
    color: white;
    text-align: left;
    padding: 7px;
    position: fixed;
    bottom: 0;
    width: 100%;
}
body {
    /* Center the form on the page */
    text-align: center;
  }
  * {box-sizing: border-box;}

body { 
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .topnav {
    overflow: hidden;
    background-color: #c08998;
    text-align: center;
  }
  
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Create a right-aligned (split) link inside the navigation bar */
  .topnav a.split {
    float: right;
    background-color: #87586c;
    color: white;
  }
/*  */
.accordion {
    background-color: #c7a5c3;
    color: #570429;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
  }
  .active, .accordion:hover {
    background-color: #ded9d9; 
  }
  
  .panel {
    padding: 0 18px;
    display: none;
    background-color: rgb(146, 94, 125);
    overflow: hidden;
  }

input[type=text], select, textarea {
  width: 50%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

input[type=submit] {
  background-color: #04AA6D;
  color: white;
  padding: 5px 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}

input[type=submit]:hover {
  background-color: #45a049;
}

.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

.col-25 {
  float: left;
  width: 15%;
  margin-top: 6px;
}

.col-75 {
  float: left;
  width: 50%;
  margin-top: 6px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
  /* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .col-25, .col-75, input[type=submit] {
      width: 100%;
      margin-top: 0;
    }
}